<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th> <!-- class="hidden-sm-down" -->
                <!-- <th>ユーザーID</th>-->
                <!-- <th>申請ID</th>-->
                <th>日付</th>
                <th>出発</th>
                <th>到着</th>
                <th>料金</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <commuter-usage-component
                    v-for="(usage, index) in usages"
                    v-bind="usage"
                    :index="index"
                    :key="usage.id"
                    @update="updateUsage"
                    @delete="deleteUsage"
                ></commuter-usage-component>
            </tbody>
        </table>
        <div>
            <b-alert v-model="dismissibleAlert.display" variant="success" dismissible>{{ dismissibleAlert.message }}</b-alert>
            <button class="btn btn-primary" @click="submit">保存</button>
            <a class="btn btn-secondary" :href="`/api/application/${applicationId}/export`">Excel出力</a>
        </div>
    </div>
</template>

<script>
    function CommuterUsage({ id, user_id, application_id, date, from, to, cost}) {
        this.id = id;
        this.userId = user_id;
        this.applicationId = application_id;
        this.date = date;
        this.from = from;
        this.to = to;
        this.cost = cost;
    }

    import CommuterUsageComponent from './CommuterUsage.vue';

    export default {
        data() {
            return {
                usages: [],
                mute: false,
                dismissibleAlert: {}
            }
        },
        props: ['applicationId'],
        methods: {
            async listUsages() {
                this.mute = true;
                const { data } = await window.axios.get(`/api/application/${this.applicationId}/usage`);
                data.forEach(usage => this.usages.push(new CommuterUsage(usage)));
                this.mute = false;
            },
            async updateUsage(id, isApplicated) {
                this.mute = true;
                const current = this.usages.find(usage => usage.id === id);
                current.applicationId = isApplicated ? undefined : this.applicationId;
                await window.axios.put(`/api/application/${this.applicationId}/usage/${id}`, { isApplicated });
                this.mute = false;
            },
            async deleteUsage(id) {
                this.mute = true;
                await window.axios.delete(`/api/application/${this.applicationId}/usage/${id}`);
                let index = this.usages.findIndex(usage => usage.id === id);
                this.usages.splice(index, 1);
                this.mute = false;
            },
            async submit(id) {
                this.mute = true;
                const sum = this.usages.filter(usage => !!usage.applicationId).reduce((previous, current) => previous + current.cost, 0);
                await window.axios.put(`/api/application/${this.applicationId}`, { sum });
                this.dismissibleAlert = { display: true, message: "Success" }
                this.mute = false;
            },
        },
        watch: {
            mute(val) {
                document.getElementById('mute').className = val ? "on" : "";
            }
        },
        components: {
            CommuterUsageComponent
        },
        created() {
            this.listUsages();
        }
    }
</script>
<style>
    #app {
        margin-left: 1em;
    }

    .heading h1 {
        margin-bottom: 0;
    }
</style>
