<template>
    <tr v-bind:class="{ 'table-success': !!applicationId }">
        <td> {{ index + 1 }} </td> <!-- class="hidden-sm-down" -->
        <!-- <td> {{ userId }} </td>-->
        <!-- <td> {{ applicationId }} </td>-->
        <td> {{ date }} </td>
        <td> {{ from }} </td>
        <td> {{ to }} </td>
        <td> {{ cost }} </td>
        <td>
            <button class="btn btn-warning" v-if="!!applicationId" @click="update">ー</button>
            <button class="btn btn-primary" v-else @click="update">＋</button>
            <button class="btn btn-danger" @click="del">ｘ</button>
        </td>
    </tr>
</template>
<script>
    export default {
        computed: {
            image() {
                return `/images/${this.color}.png`;
            }
        },
        methods: {
            update(val) {
                this.$emit('update', this.id, this.applicationId? 1: 0);
            },
            del() {
                this.$emit('delete', this.id);
            }
        },
        props: ['index', 'id', 'userId', 'applicationId', 'date', 'from', 'to', 'cost'],
    }
</script>
<style>

</style>
