<template>
    <div>
        <b-alert v-model="dismissibleAlert.display" variant="success" dismissible>{{ dismissibleAlert.message }}</b-alert>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <!-- <th>user_id</th>-->
                <th>駅名</th>
                <th>区別</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(station, index) in stations">
                <td> {{ index + 1 }} </td>
                <!-- <td> {{ station.user_id }} </td>-->
                <td> {{ station.station }} </td>
                <td> {{ station.type }} </td>
                <td>
                    <button class="btn btn-danger" @click="">削除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-primary" @click="alert">追加</button>
        </div>
    </div>
</template>

<script>
    function Station({ id, user_id, station, type}) {
        this.id = id;
        this.userId = user_id;
        this.station = station;
        this.type = type;
    }

    export default {
        data() {
            return {
                stations: [],
                mute: false,
                dismissibleAlert: {}
            }
        },
        props: [],
        methods: {
            async list() {
                this.mute = true;
                const { data } = await window.axios.get(`/api/user/station/`);
                data.forEach(station => this.stations.push(new Station(station)));
                this.mute = false;
            },
            async add() {
                this.mute = true;
                await window.axios.post(`/api/user/station/`, { });
                this.mute = false;
            },
            async update(id) {
                this.mute = true;
                await window.axios.put(`/api/user/station/${id}`, { });
                this.mute = false;
            },
            async delete(id) {
                this.mute = true;
                await window.axios.delete(`/api/user/station/${id}`);
                let index = this.stations.findIndex(station => station.id === id);
                this.stations.splice(index, 1);
                this.mute = false;
            },
            alert() {
                this.dismissibleAlert = { display: true, message: "Success" }
            }
        },
        watch: {
            mute(val) {
                document.getElementById('mute').className = val ? "on" : "";
            }
        },
        created() {
            this.list();
        }
    }
</script>
<style>
    #app {
        margin-left: 1em;
    }

    .heading h1 {
        margin-bottom: 0;
    }
</style>
